<br>



<button class="btn btn-secondary mx-2 float-right" routerLink="/user-roles">Back</button><br><br><br>

<div class="col-md-12 text-center">

    <form #roleForm="ngForm" ngNativeValidate>
        <div class="form-group">
            <div class="row mx-auto">

                <label class="col-form-label col-md-2" for="rname">Role Name: </label>
                <div class="col-md-5">
                    <input type="text" name="rname" id="rname" value="{{userName}}" class="form-control">
                </div>

                <button class="btn btn-success" (click)="updateRoleName(id)">Submit</button>


            </div><br>

        </div>
    </form>


</div>