<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><b>IX-USERS</b></div>
    <div class="list-group list-group-flush">
      <a routerLink="/home" class="list-group-item list-group-item-action bg-light">Home</a>
      
      <a routerLink="/user-roles" class="list-group-item list-group-item-action bg-light">User Role Management</a>
      <!-- <div ngbDropdown>
        <a class="list-group-item list-group-item-action bg-light dropdown-toggle" ngbDropdownToggle tabindex="0"  id="navbarDropdown1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">User Management
            </a>
        <div ngbDropdownMenu>
            <a ngbDropdownItem routerLink="/user-roles">Roles</a>
        </div>
      </div> -->

      <a href="#" class="list-group-item list-group-item-action bg-light">Reports</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">About Us</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->



  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <a id="menu-toggle"><img width="40px" style="margin-bottom:3px; margin-right:5px" alt="Toogle Menu"
        src="assets/images/toggle.png" /></a>

      
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 mx-4">
          <li ngbDropdown class="nav-item">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" tabindex="0"  id="navbarDropdown1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><b>Welcome User!</b>
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                <a class="dropdown-item" ngbDropdownItem>Profile</a>
                <a class="dropdown-item" ngbDropdownItem>Change Password</a>
                <a class="dropdown-item" routerLink="/home" ngbDropdownItem>Log Out</a>
            </div>
        </li> 
        </ul>
      
    </nav>
    <div class="container-fluid">
      
        <!-- content here -->
        
        <router-outlet></router-outlet>
        
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->